

body {
    background-color: #296159;
    
}

#home {
    display: flex;
}
#home container{
padding-top: 50px;
}

#home h1 {

    color: white;
    font-size: 78px;
    font-weight: bolder;
    /* font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif; */
    font-family: ProximaNova, arial, "Helvetica Neue", sans-serif;
}

.orderBtn {
    background-color: #e8522a;
    color: white;
    margin-top: 25px;
    margin-left: 9px;
    padding: 5px;
    border-radius: 3px;
    border-style: none;
    width: 150px;
}

